<div class="container" style="max-width:inherit;width:auto;height:100%;">
  <div class="row">
    <div class="col-11"></div>
    <div class="flex justify-content-end align-content-center py-3 pr-5">
      <button (click)="saveBoard()" class="bg-blue-600 text-white py-2 px-3 border-round-md  outline-none"
        style="border: 0">Save</button>
    </div>
  </div>
  <div class="card" style="height:inherit;">
    <div class="card-search mb-4">
      <form [formGroup]="searchForm">
        <div class="">
          <label for="Search">Search</label>
          <input formControlName="search" id="Search" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
      </form>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>
          Priority
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>High</button>
          <button ngbDropdownItem>Medium</button>
          <button ngbDropdownItem>Low</button>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-success" id="dropdownBasic1" ngbDropdownToggle>
          Status
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>In review</button>
          <button ngbDropdownItem>Process</button>
          <button ngbDropdownItem>Blocked</button>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>
          Due Date
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Last First</button>
          <button ngbDropdownItem>Latest First</button>
        </div>
      </div>

    </div>
    <div class="flex gap-3 card-container overflow-x-auto	pb-4">
      <app-list *ngFor="let list of lists| searchFilter: searchForm.value.search;let i = index" [list]="list"
        [listIndex]="i" (moveCardAcrossList)="moveCardAcrossList($event)" (deleteList)="deleteList($event)"
        attr.listIndex="{{i}}"></app-list>
      <div class="flex-1" style="margin:10px;padding:15px;padding-top:15px;padding-bottom:15px;">
        <h6 class="text-center add-new-list" (click)="addList()">Add new item...</h6>
      </div>
    </div>
  </div>

</div>